<h1>Hey this is my library</h1>
<my-component
  first="Stencil"
  last="'Don't call me a framework' JS"
></my-component>

<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <my-text-area formControlName="myTextArea"></my-text-area>
  <button type="submit">Submit</button>
</form>
<div>
  <h4>Form state</h4>
  VALID : {{ myForm.valid }}
  <pre>{{ myForm.getRawValue() | json }}</pre>
  <div>{{ "Pristine:  " + myForm.pristine }}</div>
  <div>{{ "Dirty:  " + myForm.dirty }}</div>
  <div>{{ "Touched:  " + myForm.touched }}</div>
</div>
<router-outlet></router-outlet>
